* {
	margin: 0 auto;
	padding: 0;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--tile-size: 29px;
	--light-tiles: #72d0ff;
	--dark-tiles: #4b74a3;
	--high-light-tiles: #2417d3;
	--check: #feec48;

	--glow-color: hsl(186 100% 69%);
}
/* ================================= Dice Component ================================*/
/*================================ Splash Screen ======================================*/
.view_container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.splash_wrapper,
.search_wrapper,
.load_wrapper {
	position: relative;
	/* width: 390px; */
	width: 346px;
	height: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
}
.splash_background {
	width: 100%;
	height: 100%;
	background-image: url("/asset/splash/splash_art.png");
	background-size: cover !important;
	background-repeat: no-repeat;
}

/* ===============================Game Play Componenet ==============================*/

.game_body {
	padding: 0;
	margin: 0 auto;
	background-color: #000;
	background: url("asset/game_play/bg.png");
	background-size: 200%;
	background-position: center;
	font-family: sans-serif;
	overflow: hidden;
}
.gameplay_box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.game_bg {
	width: 100%;
	max-width: 346px;
	/* height: 100%; */
	margin: 0 auto;
	position: relative;
}
.game_bg img {
	width: 100%;
}
.top-area {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;
}
.time {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.top-control {
	position: relative;
	width: 100%;
	display: inline-block;
	top: 20px;
}
.back {
	width: 25px;
	float: left;
	margin-left: 8px;
	/* position: absolute;
  top: 26px;
  left: 10px; */
}
.back img,
.sound img {
	width: 100%;
}
.sound {
	width: 25px;
	float: right;
	margin-right: 8px;
}
.player-info-area {
	width: 90%;
	position: absolute;
	top: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	right: 0;
}
.left,
.center,
.right {
	position: relative;
	/* background-color: red; */
}
.user-image {
	position: absolute;
	width: 22px;
	height: 22px;
	overflow: hidden;
	border-radius: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("./asset/game_play/profile_rc.png");
}
.user-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.user-left {
	right: 9px;
	top: 13px;
}
.user-right {
	left: 9px;
	top: 13px;
}
.player-name {
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	position: absolute;
	width: 85px;
	top: 12px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}
.player-name-left {
	left: 6px;
}
.player-name-right {
	right: 6px;
}
.gameplay-board {
	position: absolute;
	top: 167px;
	left: 0;
	right: 0;
	width: 92%;
	text-align: center;
}
.gameplay-board img {
	width: 100%;
}
.grid-main {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 13px;
	box-sizing: border-box;
}
.board-grid {
	width: 99%;
	height: 97%;
	display: grid;
	grid-template-columns: repeat(10, var(--tile-size));
	grid-template-rows: repeat(10, var(--tile-size));
}
.box {
	width: 27px;
	height: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: transparent;
	font-weight: 600;
	/* border: 1px solid #f00; */
}
.roll-btn {
	position: absolute;
	bottom: 34px;
	width: 83px;
	left: 0;
	right: 0;
	text-align: center;
}
.roll-btn img {
	width: 100%;
}
.roll-btn p {
	margin: 0;
	color: #fff;
	font-size: 13px;
}
.snake_ladder {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.l1 {
	width: 54px;
	position: absolute;
	bottom: 24px;
	right: 9px;
}
.l2 {
	width: 106px;
	position: absolute;
	bottom: 57px;
	right: 106px;
}
.l3 {
	width: 50px;
	position: absolute;
	bottom: 52px;
	left: 75px;
}
.l4 {
	width: 40px;
	position: absolute;
	bottom: 114px;
	right: 24px;
}
.l5 {
	width: 40px;
	position: absolute;
	bottom: 144px;
	left: 24px;
}
.l6 {
	width: 54px;
	position: absolute;
	top: 15px;
	left: 23px;
}
.s1 {
	width: 50px;
	position: absolute;
	bottom: 30px;
	left: 10px;
}
.s2 {
	width: 50px;
	position: absolute;
	bottom: 22px;
	left: 120px;
}
.s3 {
	width: 107px;
	position: absolute;
	top: 58px;
	left: 145px;
}
.s4 {
	width: 107px;
	position: absolute;
	top: 98px;
	left: 34px;
}
.s5 {
	width: 57px;
	position: absolute;
	top: 95px;
	right: 66px;
}
.s6 {
	width: 57px;
	position: absolute;
	top: 78px;
	left: 18px;
}
.s7 {
	width: 57px;
	position: absolute;
	top: 23px;
	right: 49px;
}
.turn_bar_bg {
	width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	position: relative;
}
.turn_bar_inActive_bg {
	position: absolute;
	left: 0;
	width: 60%;
	height: 7px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("./asset/game_play/time_base.png");
}

/**********************************Player Position Color **************************/
.player {
	width: 35px;
	height: 35px;
	position: absolute;
	background-size: 100%;
	z-index: 1000;
	transition: all 0.3s ease-in-out;
}
.pl-s {
	width: var(--tile-size);
	height: var(--tile-size);
}
.player.r {
	background-image: url("/asset/game_play/red.png");
	background-repeat: no-repeat;
}
.player.y {
	background-image: url("/asset/game_play/blue.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

#pawn-player-1 {
	background-image: url("/asset/game_play/red.png");
	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}
#pawn-player-2 {
	background-image: url("/asset/game_play/blue.png");

	background-repeat: no-repeat;
	transition: all 0.3s ease-in-out;
}

/* ================================ popup Component =============================*/
.popup {
	width: 100%;
	height: 100%;
	z-index: 1000000000000000000000;
	right: 0;
	top: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background: transparent;
	background-image: url("/asset/quit_game/layer.png");
}
.popup--inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup--inner > .wins {
	width: 100%;
	height: 100%;
	background-size: cover;

	background-repeat: no-repeat;
	background-image: url("/asset/status/win_banner.png");
}
.popup--inner > .defect {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

	background-image: url("/asset/status/defect_banner.png");
}

/* ================================ matchMaking Component =============================*/
.search_banner_bg {
	width: 100%;
	height: 100%;
	background-image: url("/asset/match_make/BG.png");
	background-size: cover !important;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}
.search_banner_bg > .inner_wrapper {
	width: 300px;
	height: 300px;
	margin-bottom: 60px;
	/* background-color: wheat; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.match_make_title {
	width: 212px;
	height: 90px;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url("/asset/match_make/Tag_base.png");
}
.match_make_player {
	width: 100%;
	height: 80%;
	/* background-color: gray; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}
.match_make_player > .player_vs_op {
	width: 102px;
	height: 249px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("/asset/match_make/V_S.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 3;
}

/* ====================================== Quit Game ===============================*/
.quit_game_bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 300;
	position: absolute;
	background-image: url("/asset/quit_game/layer.png");
	background-size: cover;
	background-color: #fff0f007;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quit_game_wrapper {
	width: 231px;
	height: 245px;

	background-image: url("/asset/quit_game/Base.png");
	background-size: contain;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.quit_game_text {
	width: 170px;
	height: 40px;
	color: #000;
	font-weight: 300;
	/* background-image: url("/gameQuit/do_you_want_quit.png");
	background-size: contain;
	background-repeat: no-repeat; */
}
.quit_game_btn {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.quit_game_btn > button {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.quit_game_btn > button:hover {
	background-color: white;
	color: #131a50;
	border-color: #131a50;
}

.yes {
	/* background-color: #4caf50; */
	background-image: url("/asset/quit_game/Button_1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.no {
	/* background-color: #ff4444; */
	background-image: url("/asset/quit_game/button_2.png");
	background-size: cover;
	background-repeat: no-repeat;
}
/* ====================================== Loader Componenet Component ===============================*/
.load_background {
	width: 100%;
	height: 100%;
	background-image: url("/asset/loader/BG.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.load_background > .inner_wrapper {
	width: 90%;
	height: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.load_background > .inner_wrapper > .title {
	width: 250px;
	height: 250px;
	background-image: url("/asset/loader/Title_art.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.load_background > .inner_wrapper > .loadeing_bg {
	width: 70%;
	height: 20px;
	margin-bottom: 50px;
	background-image: url("/asset/loader/Loading_base.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.load_background > .inner_wrapper > .loadeing_bg > .loadeing_text {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, -10%);
	width: 120px;
	height: 120px;
	background-image: url("/asset/loader/LOADING_.png");
	background-repeat: no-repeat;
	background-size: contain;
}

/* @media (min-width: 992px) and (max-width: 1199px) {
	.board-b72b1 {
		width: 500px;
	}
	.board-b72b1 .square-55d63 {
		width: 70px !important;
		height: 70px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 70px !important;
		height: 70px !important;
	}
}
@media (min-width: 748px) and (max-width: 991px) {
	.board-b72b1 {
		width: 470px !important;
	}
	.board-b72b1 .square-55d63 {
		width: 50px !important;
		height: 50px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 50px !important;
		height: 50px !important;
	}
} */
/* .turn_role_text {
	text-transform: uppercase;
	font-size: 12px;
}
.turn_role_text strong {
	font-weight: 400;
} */

/* @media only screen and (max-width: 600px) {
	:root {
		--tile-size: 40px;
	}

	.splash_wrapper,
	.search_wrapper,
	.play_wrapper,
	.load_wrapper {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		display: flex;
		justify-content: center;
	}
	.splash_background {
		width: 100%;
		height: 100%;
		background-image: url("/asset/splash/splash_art.png");
		background-size: contain !important;
		background-repeat: no-repeat;
	}

	.load_background {
		width: 100%;
		height: 100%;
		background-image: url("/asset/loader/BG.png");
		background-repeat: no-repeat;
		background-size: contain !important;
		position: relative;
	}
	.player_bg {
		width: 100%;
		height: 100%;
		background-image: url("/asset/game_play/bg.png");
		background-size: contain !important;
		background-position: center;
		background-repeat: no-repeat;
	}
}
@media only screen and (max-width: 480px) {
	:root {
		--tile-size: 35px;
	}
	.play_wrapper {
		align-items: center;
	}
	.player_bg {
		max-height: 730px;
	}
	.player_bg > .inner_wrapper > .top_sesc > .left_base > .player_profile,
	.player_bg > .inner_wrapper > .top_sesc > .right_base > .player_profile {
		width: 20px;
		height: 20px;
		margin-bottom: 14px;
		margin-right: 9px;
		border-radius: 5px;
		overflow: hidden;
	}
	.player_profile img {
		width: 100% !important;
		height: 100%;
		border-radius: 0 !important;
	}
	.player_bg > .inner_wrapper > .top_sesc > .right_base > .player_profile {
		margin-left: 9px !important;
	}
	.pawn_click > .role {
		width: 100%;
		height: 60px;
	}
	.pawn_click > div > .role_btn {
		width: 93px;
		height: 70px;
		margin-top: 20px;
	}
	.sound_game,
	.quit_game {
		top: 68px;
	}
	.gameBoard,
	.game_board_img {
		width: 100%;
		height: 100%;
	}
	.snakeLdr {
		top: 14px;
		left: 15px;
		width: 91%;
		height: 91%;
	}
}
@media only screen and (max-width: 480px) {
	.slr1 {
		width: 61px !important;
		top: 241px !important;
		left: 123px !important;
	}
	.slr2 {
		top: 106px !important;
	}
	.slr3 {
		width: 65px !important;
		top: 103px !important;
		left: 211px !important;
		z-index: 1;
	}
	.slr4 {
		width: 60px !important;
		top: 247px !important;
		left: -4px !important;
	}
	.slr5 {
		width: 58px !important;
		top: 13px !important;
		left: 239px !important;
	}
	.slr6 {
		width: 62px !important;
		left: 9px !important;
	}
	.slr7 {
		width: 129px !important;
		top: 58px !important;
		left: 152px !important;
	}
	.ldr1 {
		top: 21px !important;
		height: 274px !important;
		left: 110px !important;
	}
	.ldr2 {
		width: 57px !important;
		top: 161px !important;
		left: 74px !important;
		height: auto !important;
	}
	.ldr4top {
		left: 12px !important;
	}
	.ldr4btm {
		width: 67px !important;
		top: 247px !important;
		left: 279px !important;
	}
	.ldr3 {
		width: 44px !important;
		top: 127px !important;
		left: 285px !important;
	}
}
@media only screen and (max-width: 430px) {
	.player_bg {
		max-height: 755px;
	}
}
@media only screen and (max-width: 414px) {
	.player_bg {
		max-height: 730px;
	}
}
@media only screen and (max-width: 412px) {
	.player_bg {
		max-height: 724px;
	}
	.pawn_click {
		width: 142px;
	}
}
@media only screen and (max-width: 390px) {
	.pawn_click {
		bottom: 0px;
		width: 130px;
	}
	.sound_game,
	.quit_game {
		top: 86px;
	}
	.global_timer {
		top: 24px;
	}
	.player_bg {
		max-height: 693px;
	}
	.ldr4btm {
		width: 67px !important;
		top: 232px !important;
		left: 263px !important;
	}
	.ldr3 {
		width: 44px !important;
		top: 118px !important;
		left: 267px !important;
	}
	.slr3 {
		width: 65px !important;
		top: 100px !important;
		left: 199px !important;
		z-index: 1;
	}
	.slr7 {
		width: 129px !important;
		top: 49px !important;
		left: 148px !important;
	}
	.slr5 {
		width: 58px !important;
		top: 13px !important;
		left: 220px !important;
	}
	.ldr1 {
		top: 15px !important;
		height: 267px !important;
		left: 101px !important;
	}
	.ldr2 {
		width: 57px !important;
		top: 150px !important;
		left: 68px !important;
		height: auto !important;
	}
}
@media only screen and (max-width: 390px) {
	:root {
		--tile-size: 33px;
	}
}
@media only screen and (max-width: 380px) {
	.global_timer {
		top: 24px;
	}
	.sound_game,
	.quit_game {
		top: 65px;
	}
	:root {
		--tile-size: 31px;
	}
	.slr1 {
		width: 56px !important;
		top: 221px !important;
		left: 115px !important;
	}
	.slr3 {
		width: 65px !important;
		top: 93px !important;
		left: 185px !important;
		z-index: 1;
	}
	.slr4 {
		width: 60px !important;
		top: 221px !important;
		left: -4px !important;
	}
	.slr5 {
		width: 55px !important;
		top: 10px !important;
		left: 211px !important;
	}
	.slr6 {
		width: 50px !important;
		left: 11px !important;
	}
	.slr7 {
		width: 112px !important;
		top: 53px !important;
		left: 141px !important;
	}
	.ldr1 {
		top: 17px !important;
		height: 251px !important;
		left: 93px !important;
	}
	.ldr2 {
		width: 52px !important;
		top: 148px !important;
		left: 66px !important;
		height: auto !important;
	}
	.ldr4top {
		left: 12px !important;
	}
	.ldr4btm {
		width: 60px !important;
		top: 227px !important;
		left: 257px !important;
	}
	.ldr3 {
		width: 39px !important;
		top: 115px !important;
		left: 257px !important;
	}
	.pawn_click {
		bottom: 0px;
		width: 122px;
	}
}
@media only screen and (max-width: 375px) {
	.player_bg {
		max-height: 668px;
	}
}
@media only screen and (max-width: 360px) {
	.player_bg {
		max-height: 643px;
	}
	.ldr4btm {
		width: 60px !important;
		top: 215px !important;
		left: 242px !important;
	}
	.ldr3 {
		width: 39px !important;
		top: 109px !important;
		left: 246px !important;
	}
	.ldr2 {
		width: 52px !important;
		top: 136px !important;
		left: 66px !important;
		height: auto !important;
	}
	.slr2 {
		top: 85px !important;
	}
	.slr3 {
		width: 65px !important;
		top: 87px !important;
		left: 173px !important;
		z-index: 1;
	}
	.slr4 {
		width: 60px !important;
		top: 211px !important;
		left: -4px !important;
	}
	.slr1 {
		width: 56px !important;
		top: 207px !important;
		left: 105px !important;
	}
	.slr6 {
		width: 53px !important;
		left: 7px !important;
		top: 70px !important;
	}
}
@media only screen and (max-width: 320px) {
	.slr4 {
		width: 38px !important;
	}
	.slr1 {
		width: 47px !important;
		top: 187px !important;
		left: 94px !important;
	}
	.ldr4top {
		left: 4px !important;
		top: 0px !important;
	}
	.ldr1 {
		top: 12px !important;
		height: 214px !important;
		left: 82px !important;
	}
	.slr5 {
		width: 55px !important;
		top: 10px !important;
		left: 173px !important;
	}
	.slr6 {
		width: 53px !important;
		left: 7px !important;
		top: 59px !important;
	}
	.ldr6 {
		width: 42px !important;
		top: 90px !important;
		left: 5px !important;
	}
	.slr2 {
		top: 72px !important;
		width: 103px !important;
		left: 8px !important;
	}
	.ldr3 {
		width: 39px !important;
		top: 90px !important;
		left: 215px !important;
	}
	.ldr4btm {
		width: 51px !important;
		top: 188px !important;
		left: 213px !important;
	}
	.global_timer {
		top: 17px;
	}
	.pawn_click {
		width: 108px;
	}
	.pawn_click > div > .role_btn {
		width: 69px;
		height: 60px;
		margin-top: 36px;
	}
	:root {
		--tile-size: 26px;
	}
} */

@media only screen and (max-width: 600px) {
	.splash_wrapper,
	.search_wrapper,
	.load_wrapper {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		display: flex;
		justify-content: center;
	}
	.splash_background {
		width: 100%;
		height: 100%;
		background-image: url("/asset/splash/splash_art.png");
		background-size: contain !important;
		background-repeat: no-repeat;
	}

	.load_background {
		width: 100%;
		height: 100%;
		background-image: url("/asset/loader/BG.png");
		background-repeat: no-repeat;
		background-size: contain !important;
		position: relative;
	}
}
@media only screen and (max-width: 380px) {
	:root {
		--tile-size: 31px;
	}
	.top-area {
		top: 23px;
	}
	.top-control {
		top: 22px;
	}
	.game-bg {
		max-width: 376px;
	}
	.grid-main {
		padding: 15px 18px;
	}
	.box {
		width: 30px;
		height: 30px;
	}
	.s7 {
		right: 55px;
	}
	.s6 {
		top: 90px;
		left: 23px;
	}
	.s5 {
		top: 111px;
		right: 72px;
	}
	.s4 {
		top: 103px;
	}
	.s3 {
		width: 117px;
		top: 65px;
		left: 160px;
	}
	.s2 {
		bottom: 25px;
		left: 133px;
	}
	.l1 {
		bottom: 29px;
		right: 9px;
	}
	.l2 {
		width: 116px;
		bottom: 61px;
		right: 115px;
	}
	.l3 {
		width: 54px;
		bottom: 57px;
		left: 82px;
	}
	.l4 {
		bottom: 127px;
	}
	.l5 {
		width: 45px;
		bottom: 157px;
		left: 27px;
	}
}
@media only screen and (max-width: 320px) {
	:root {
		--tile-size: 27px;
	}
	.grid-main {
		padding: 10px 12px;
	}
	.box {
		width: 26px;
		height: 26px;
	}
	.top-area {
		top: 20px;
	}
	.top-control {
		top: 14px;
	}
}
