:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--tile-size: 40px;
	--light-tiles: #72d0ff;
	--dark-tiles: #4b74a3;
	--high-light-tiles: #2417d3;
	--check: #feec48;

	--glow-color: hsl(186 100% 69%);
}
*,
html::after,
html::before {
	margin: 0;
	padding: 0;
}

/*================================ Splash Screen ======================================*/
.view_container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.splash_wrapper,
.search_wrapper,
.play_wrapper,
.load_wrapper {
	position: relative;
	width: 390px;
	height: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
}
.splash_background {
	width: 100%;
	height: 100%;
	background-image: url("/splash/splash_art.png");
	background-size: cover !important;
	background-repeat: no-repeat;
}

/* ===============================Game Play Componenet ==============================*/
.player_bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("/game_play/bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}
.global_timer {
	width: 100%;
	height: 20px;

	position: absolute;
	top: 22px;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.quit_game {
	width: 30px;
	height: 30px;
	background-image: url("/game_play/back.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 70px;
	left: 7px;
}
.sound_game {
	width: 30px;
	height: 30px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 70px;
	right: 7px;
}

.sound_game.on {
	background-image: url("/game_play/sound_on.png");
}
.sound_game.off {
	background-image: url("/game_play/sound_off.png");
}

.pawn_click {
	position: absolute;
	width: 130px;
	height: 70px;

	bottom: -1px;
	left: 33%;
	transform: translate(-0%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pawn_click > .role {
	width: 100%;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.pawn_click > div > .role_btn {
	width: 150px;
	height: 30px;
	background-image: url("/game_play/Roll.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 1s ease-in-out;
	cursor: pointer;
}

.pawn_click > div > .role_btn:hover {
	transform: scale(1.4);
}

.player_bg > .inner_wrapper {
	width: 90%;
	height: 65%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.player_bg > .inner_wrapper > .top_sesc {
	width: 100%;
	height: 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player_bg > .inner_wrapper > .btm_sesc {
	width: 100%;
	height: 80%;
	/* background-color: #72d0ff; */
}

.player_bg > .inner_wrapper > .top_sesc > .left_base {
	height: 100%;
	width: 120px;

	background-image: url("/game_play/Left_base.png");
	background-repeat: no-repeat;
	background-size: contain;

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.player_bg > .inner_wrapper > .top_sesc > .left_base > .player_name {
	width: 68%;
	height: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.player_bg > .inner_wrapper > .top_sesc > .left_base > .player_name > .name {
	width: 100%;
	height: 30%;
	background-color: red;
}
.player_bg > .inner_wrapper > .top_sesc > .left_base > .player_name > .turn_bar_bg {
	width: 100%;
	height: 90%;
	/* background-color: gainsboro; */
}
.player_bg > .inner_wrapper > .top_sesc > .left_base > .player_profile {
	width: 20%;
	height: 47%;
	margin-bottom: 2px;
	margin-right: 7px;
	background-image: url("/game_play/profile_rc.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.player_bg > .inner_wrapper > .top_sesc > .right_base {
	height: 100%;
	width: 120px;

	background-image: url("/game_play/right_base.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.player_bg > .inner_wrapper > .top_sesc > .dise_base {
	height: 80%;
	width: 60px;
	background-image: url("/game_play/dise_base.png");
	background-repeat: no-repeat;
	background-size: contain;
}
/* ================================ matchMaking Component =============================*/
.search_banner_bg {
	width: 100%;
	height: 100%;
	background-image: url("/match_make/BG.png");
	background-size: cover !important;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}
.search_banner_bg > .inner_wrapper {
	width: 300px;
	height: 300px;
	margin-bottom: 60px;
	/* background-color: wheat; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.match_make_title {
	width: 212px;
	height: 90px;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url("/match_make/Tag_base.png");
}
.match_make_player {
	width: 100%;
	height: 80%;
	/* background-color: gray; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}
.match_make_player > .player_vs_op {
	width: 102px;
	height: 249px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("/match_make/V_S.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 3;
}

/* ====================================== Quit Game ===============================*/
.quit_game_bg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	position: absolute;
	background-image: url("/gameQuit/layer.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quit_game_wrapper {
	width: 350px;
	height: 245px;

	background-image: url("/gameQuit/banner.png");
	background-size: contain;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.quit_game_text {
	width: 250px;
	height: 40px;
	background-image: url("/gameQuit/do_you_want_quit.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.quit_game_btn {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.quit_game_btn > button {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.quit_game_btn > button:hover {
	background-color: white;
	color: #131a50;
	border-color: #131a50;
}

.yes {
	background-color: #4caf50;
}

.no {
	background-color: #ff4444;
}
/* ====================================== Loader Componenet Component ===============================*/
.load_background {
	width: 100%;
	height: 100%;
	background-image: url("/loader/BG.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}
.load_background > .inner_wrapper {
	width: 90%;
	height: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.load_background > .inner_wrapper > .title {
	width: 250px;
	height: 250px;
	background-image: url("/loader/Title_art.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.load_background > .inner_wrapper > .loadeing_bg {
	width: 70%;
	height: 20px;
	margin-bottom: 50px;
	background-image: url("/loader/Loading_base.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.load_background > .inner_wrapper > .loadeing_bg > .loadeing_text {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, -10%);
	width: 120px;
	height: 120px;
	background-image: url("/loader/LOADING_.png");
	background-repeat: no-repeat;
	background-size: contain;
}

/* @media (min-width: 992px) and (max-width: 1199px) {
	.board-b72b1 {
		width: 500px;
	}
	.board-b72b1 .square-55d63 {
		width: 70px !important;
		height: 70px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 70px !important;
		height: 70px !important;
	}
}
@media (min-width: 748px) and (max-width: 991px) {
	.board-b72b1 {
		width: 470px !important;
	}
	.board-b72b1 .square-55d63 {
		width: 50px !important;
		height: 50px !important;
	}
	.board-b72b1 .square-55d63 img {
		width: 50px !important;
		height: 50px !important;
	}
} */

@media only screen and (max-width: 600px) {
	:root {
		--tile-size: 40px;
	}

	.splash_wrapper,
	.search_wrapper,
	.play_wrapper,
	.load_wrapper {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		display: flex;
		justify-content: center;
	}
	.splash_background {
		width: 100%;
		height: 100%;
		background-image: url("/splash/splash_art.png");
		background-size: contain !important;
		background-repeat: no-repeat;
	}

	.load_background {
		width: 100%;
		height: 100%;
		background-image: url("/loader/BG.png");
		background-repeat: no-repeat;
		background-size: contain !important;
		position: relative;
	}
	.player_bg {
		width: 100%;
		height: 100%;
		background-image: url("/game_play/bg.png");
		background-size: contain !important;
		background-position: center;
		background-repeat: no-repeat;
	}
}
